body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}